<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lighthouse Bytes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/orders.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <%- include("partials/navbar") %>


    <div class="container">
      <% if (user_id) { %>

      <h1>Orders</h1>

      <% for (const order of orders) { %>
        <% if (order.user_id == user_id || userType === "admin") { %>
          <div class="card mb-3">
            <div class="row no-gutters">

              <div class="col-md-12">
                <div class="d-flex flex-column justify-content-center card-body h-100">

                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <span class="card-title">Order #<%= order.id %></span>
                    <span class="card-title"><%= `${order.first_name} ${order.last_name}` %></span>
                  </div>

                  <ul>
                    <% for (item of order.items) { %>
                      <li><%= item.item_name %> x <%= item.quantity %></li>
                    <% } %>
                  </ul>

                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <span class="card-title">Total: $<%= (order.total_price / 100).toFixed(2) %></span>
                    <% if (order.status === 'pending') { %>
                      <span class="card-text">Created at: <%= order.created_at.toLocaleString("en-US", {timeZone: "America/Vancouver", year: "numeric", month: "short", day: "numeric", hour: "2-digit", minute: "2-digit"})%></span>
                    <% } else if (order.status === 'accepted') { %>
                      <span class="card-text">Accepted at: <%= order.accepted_at.toLocaleString("en-US", {timeZone: "America/Vancouver", year: "numeric", month: "short", day: "numeric", hour: "2-digit", minute: "2-digit"})%></span>
                    <% } else if (order.status === 'completed') { %>
                      <span class="card-text">Completed at: <%= order.completed_at.toLocaleString("en-US", {timeZone: "America/Vancouver", year: "numeric", month: "short", day: "numeric", hour: "2-digit", minute: "2-digit"})%></span>
                    <% } %>
                  </div>

                  <div class="d-flex flex-row justify-content-end align-items-center">
                    <% if (userType === 'admin') { %>
                      <% if (order.status === 'pending') { %>

                        <form method="POST" action="/orders/<%= order.id %>/accept">
                          <input type="number" name="preptime" placeholder="minutes">
                          <button type="submit" class="btn btn-outline-primary mx-2">Accept</button>
                        </form>

                        <form method="POST" action="/orders/<%= order.id %>/reject">
                          <button type="submit" class="btn btn-outline-danger mx-2">Reject</button>
                        </form>

                      <% } else if (order.status === 'accepted') { %>

                        <form method="POST" action="/orders/<%= order.id %>/complete">
                          <button type="submit" class="btn btn-outline-success mx-2">Complete</button>
                        </form>

                      <% } %>
                    <% } %>
                  </div>

                </div>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>

      <% } else { %>
        <h1>Please login to view this page</h1>
      <% } %>

    </div>


  <%- include("partials/footer") %>
